/* header styles */

.header {
    display: flex;
    flex-direction: column;
    height: 800px;
    background-image: url(../images/background_header.svg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    position: relative;
}

.header__title {
    max-width: 729px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 183px;
    margin-left: 80px;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.6px;
}


.header__span-accent {
    font-family: "Noto Serif", 'Times New Roman', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
    color: #3F96F3;
    font-style: italic;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
    color: #3F96F3;
}

.header__image {
    width: 646px;
    height: 568px;
    padding-right: 5px;
    margin-top: 124px;
    position: absolute;
    left: 55%;
    z-index: -1;
}

.header__description {
    max-width: 683px;
    margin-left: 80px;
    font-family: "Noto Serif", 'Times New Roman', serif;
    font-size: 20px;
    line-height: 30px;
}

.header__footer {
    margin-top: auto;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
    position: relative;
    align-items: end;
}

.header__paragraph {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #6f6f6f
}

.header__paragraph:last-of-type {
    position: absolute;
    top: 0;
    left: 60%;
    width: fit-content;
}